version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      small-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
      major-upgrades:
        patterns:
          - "*"
        update-types:
          - "major"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      gh-deps:
        patterns:
          - "*"
