name: build-pr

on:
  pull_request: {}

permissions:
  contents: read
  packages: read

jobs:
  goreleaser:
    uses: ./.github/workflows/goreleaser.yml
    with:
      version: ${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || '' }}
    secrets:
      GOR_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
