name: goreleaser

on:
  pull_request: {}
  push:
    branches:
      - master
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    uses: elastx/wf-goreleaser/.github/workflows/goreleaser.yml@v2
    with:
      version: ${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || '' }}
    secrets:
      CICD_ELASTX_RO_PRIVATE_SSH_KEY: ${{ secrets.CICD_ELASTX_RO_PRIVATE_SSH_KEY }}
      GOR_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
