name: release

on:
  push:
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+'

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    uses: .github/workflows/goreleaser.yml
    with:
      version: ${{ startsWith(github.ref, 'refs/tags/v') && github.ref_name || '' }}
    secrets:
      GOR_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
