name: test

on:
  pull_request: {}

permissions:
  contents: read
  pull-requests: read
  checks: write

env:
  GOPRIVATE: github.com/elastx

jobs:
  go-tests:
    uses: elastx/wf-go-tests/.github/workflows/go-tests.yml@v1
    with:
      lint-only-new-issues: true
    secrets:
      CICD_ELASTX_RO_PRIVATE_SSH_KEY: ${{ secrets.CICD_ELASTX_RO_PRIVATE_SSH_KEY }}
